:root{
--delay1:3s;
--delay2:2s;
--delay3:2.5s;
--delay4:1.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #5f6065;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: auto;
}

.lines {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index:-10;
}

.line {
  position: fixed;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 13s 0s infinite;
          animation: drop 13s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-direction:normal;
}
.line:nth-child(1) {
  margin-left: -45%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: var(--delay1);
          animation-delay: var(--delay1);
}
.line:nth-child(2) {
  margin-left: -25%;
}
.line:nth-child(2)::after {
  -webkit-animation-delay: var(--delay2);
          animation-delay: var(--delay2);
}

.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: var(--delay3);
          animation-delay: var(--delay3);
}
.line:nth-child(4) {
  margin-left: 45%;
}
.line:nth-child(4)::after {
  -webkit-animation-delay: var(--delay4);
          animation-delay: var(--delay4);
}


@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  23% {
    top: -50%;
  }
  76% {
    top: 110%;
  }

  100% {
    top: 110%;
  }

}

@keyframes drop {
0% {
    top: -50%;
  }
  23% {
    top: -50%;
  }
  76% {
    top: 110%;
  }
  100% {
    top: 110%;
  }
}

@font-face{
font-family:sans-light;
src:url(OpenSans-Light.ttf);
}

.cbox{
font-family:'Open Sans', sans-light, sans-serif;
display:table;
position:absolute;
left:50%;
top:40%;
transform: translate(-50%, -50%);
text-align: center;
z-index:10;
}

.lbox{
display:block;
position:absolute;
top:120%;
left:50%;
transform: translate(-50%, 30%);
text-align:center;
width:500px;
}

.lbut{
display:inline;
border-radius:20px/15px;
border-width: 2px;
border-style: solid;
padding:10px;
width:100px;
height:50px;
border-color: white;
margin:10px;
}

h1{
letter-spacing:2px;
color: antiquewhite;
text-shadow: 0px 0px 7px #3c3756;
}

h3{
letter-spacing:2px;
color:darkgray;
}
h2{
color:white;
}
a{
color:white;
text-decoration:none;
}

#cbar{
width:100%;
background-color:grey;
height:0.5px;
position:relative;
}

#pbar{
width:1%;
height:2.5px;
background-color:white;
transform: translate(0px, -1px);
}

.heightner{
height:100%;
}

.pbox{
font-family:'Open Sans', sans-light, sans-serif;
border-radius:25px;
position:absolute;
border-width: 2px;
border-style: solid;
border-color: white;
background-image: url("moon.svg");
min-height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width:88%;
margin:6%;
margin-top:0%;
padding:5%;
}

.pwin{
border-width: 2px;
border-style: solid;
border-color: #444444;
border-radius:5px;
background:#444444;
color:white;
min-height: 300px;
text-align:center;
}

.ptop{
min-height:10px;
background:#555555;
color:beige !important;
padding-left:5px;
}

#topper span{
color:beige !important;
}
